:root {
  --color-magenta: #ff33bb;
  --color-seagreen: #1ebb95;
  --color-orange: #ff6543;
  --color-yellow: #ffc700;
  --color-cyan: #2ad8e2;
  --color-lightTeal: #99b9c1;
  --color-lightBlue: #c5d3da;
  --color-darkTeal: #456673;
  --color-darkNavyBlue: #212b31;
  --color-palePaperBlue: #e8f0f3;
  --color-black: #000000;
}
